# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Environments
.env
venv/
env/
# virtualenv environments
myvenv/ # If you use a specific name for your virtual environment

# Database
db.sqlite3

# Media and Static files generated during development (if applicable)
/media/
/static/

# IDEs and other tools
.vscode/
.idea/
*.swp
*~
.DS_Store # Mac-specific hidden file